*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.Home{
  background-image: url("https://thumbs.dreamstime.com/b/vegetables-wood-background-space-text-box-organic-food-40116474.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size:cover;

}
.title{
   padding-top: 14%;
   font-size: 58px;
}

button {
  border: none;
  background-color: #86BC42;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.text {
  text-align:left;
  font-size: 25px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

 /*applying @media rule*/

 @media (max-width: 485px) {
  .card {
    transform: scale(1.15);
    margin: 2.5rem auto;
  }
  /* .form {
    width: 100%;
    margin: auto;
  } */
 
}