.Home {
    background-image: url("https://2f35da97a9ad36d49db6-4d1987fef3a36cccd5478db4931039f0.ssl.cf3.rackcdn.com/assets/media/2017/08/natural-food-drink-blog.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
  }